/* .header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
} */
* {
    box-sizing: border-box;
  }

  /* Home Section */
  .home {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("/assets/skyline.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  /* About Section */
  .about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000000 0%, #5a5959 75%, rgb(152, 152, 152) 100%);
  }
  .about-section p {
    font-size: 20px;
    color: #dee2e6;
  }

  /* Contact Section */
  .contact-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  /* Contect Containers */
    .container,
    .container-fluid,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    }

/* Social Media     */
.social {
    margin-top: 5rem;
  }
.social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
    }
.d-md-flex {
    display: flex !important;
    }    
  
  html {
    margin: 2rem;
  }
  
  .demo-box {
    margin: 1rem 0;
    border: thin solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
  }
  
  .card > img {
    height: 200px;
    background: gray;
  }
  

  /* Text Styles */
  .big{
    font-size: 100px;
    color: rgb(154, 191, 218);
  }
  .subhead{
    font-size: 40px;
    color: rgb(83, 131, 166)
  }